parameters:
    database_host: 192.168.2.240
    database_port: null
    database_name: casemanager
    database_user: root
    database_password: root
    mailer_transport: smtp

    mailer_host: 127.0.0.1
    mailer_user: ssurrier@edtpe.fr
    mailer_password: null
    secret: ThisTokenIsNotSoSecretChangeIt

    casemanager_admin_host: ^admin-casemanager\.local\.dev$
    casemanager_front_host: ^casemanager\.local\.dev$
    casemanager_api_host: ^api-casemanager\.local\.dev$

    casemanager_admin_url: admin-casemanager.local.dev
    casemanager_front_url: casemanager.local.dev
    casemanager_api_url: api-casemanager.local.dev
