{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            CaseManager - <a href="https://edtpe.com">EDTPE</a> Product 1.0
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}